<?xml version="1.0"?>
<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="tf_namespace"            default="drone31"/>
    <arg name="serial_no_camera1"    	  default="929122110989"/> 			<!-- Note: Replace with actual serial number  old - 908412110632 -->
    <arg name="serial_no_camera2"    	  default="841512071784"/> 			<!-- Note: Replace with actual serial number -->
    <arg name="serial_no_camera_l"    	default="841612070675"/>
    <arg name="serial_no_camera_r"    	default="923322070266"/>
    <arg name="device_type_camera1"    	default="t265"/>
    <arg name="device_type_camera2"    	default="d4.5"/>
    <arg name="device_type_camera_l"    default="d4.5"/>
    <arg name="device_type_camera_r"    default="d4.5"/>
    
    <arg name="camera1"              	  default="cam_odom"/>		<!-- Note: Replace with camera name -->
    <arg name="camera2"              	  default="cam1"/>		<!-- Note: Replace with camera name -->
    <arg name="camera_l"              	default="caml"/>
    <arg name="camera_r"              	default="camr"/>
    
    <arg name="tf_prefix_camera1"       default="$(arg tf_namespace)/$(arg camera1)"/>
    <arg name="tf_prefix_camera2"       default="$(arg tf_namespace)/$(arg camera2)"/>
    <arg name="tf_prefix_camera_l"      default="$(arg tf_namespace)/$(arg camera_l)"/>
    <arg name="tf_prefix_camera_r"      default="$(arg tf_namespace)/$(arg camera_r)"/>
    
    <arg name="clip_distance"           default="-2"/>
    <arg name="initial_reset"           default="false"/>
    <arg name="enable_fisheye"          default="false"/>

    <arg name="color_width"             default="640"/>
    <arg name="color_height"            default="480"/>
    <arg name="depth_width"             default="640"/>
    <arg name="depth_height"            default="480"/>

    <arg name="color_width_side"        default="640"/>
    <arg name="color_height_side"       default="360"/>
    <arg name="color_fps_side"          default="15"/>
    <arg name="enable_color_side"       default="false"/>
    <arg name="infra1_width_side"       default="640"/>
    <arg name="infra1_height_side"      default="360"/>
    <arg name="infra1_fps_side"         default="15"/>
    <arg name="enable_infra1_side"      default="false"/>
    <arg name="infra2_width_side"       default="640"/>
    <arg name="infra2_height_side"      default="360"/>
    <arg name="infra2_fps_side"         default="15"/>
    <arg name="enable_infra2_side"      default="false"/>
    <arg name="depth_width_side"        default="640"/>
    <arg name="depth_height_side"       default="360"/>
    <arg name="depth_fps_side"          default="6"/>
    <arg name="enable_gyro_side"        default="false"/>
    <arg name="enable_accel_side"       default="false"/>

    <arg name="topic_odom_in"           default="odom_in"/>
    <arg name="calib_odom_file"         default=""/>
    <arg name="d435_imu_unite"          default="linear_interpolation"/>
    <arg name="t265_imu_unite"          default="copy"/>
    <arg name="gyro_fps_d435"           default="400"/>
    <arg name="accel_fps_d435"          default="250"/>

    <!-- <arg name="depth_width"   default="1280"/>
    <arg name="depth_height"  default="720"/>
    <arg name="color_width"               default="1280"/>
    <arg name="color_height"              default="720"/> -->
  <group ns="$(arg tf_namespace)">
    <group ns="$(arg camera1)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="device_type"           value="$(arg device_type_camera1)"/>
        <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
        <arg name="tf_prefix"         	  value="$(arg tf_prefix_camera1)"/>
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <arg name="enable_fisheye1"       value="$(arg enable_fisheye)"/>
        <arg name="enable_fisheye2"       value="$(arg enable_fisheye)"/>
        <arg name="topic_odom_in"         value="$(arg topic_odom_in)"/>
        <arg name="calib_odom_file"       value="$(arg calib_odom_file)"/>
        <arg name="unite_imu_method"      value="$(arg t265_imu_unite)"/>
      </include>
    </group>

    <group ns="$(arg camera2)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="device_type"           value="$(arg device_type_camera2)"/>
        <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
        <arg name="tf_prefix"		          value="$(arg tf_prefix_camera2)"/>
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <arg name="align_depth"           value="true"/>
        <arg name="filters"               value="pointcloud"/>
        <arg name="color_width"           value="$(arg color_width)"/>
        <arg name="color_height"          value="$(arg color_height)"/>
        <arg name="depth_width"           value="$(arg depth_width)"/>
        <arg name="depth_height"          value="$(arg depth_height)"/>
        <arg name="clip_distance"         value="$(arg clip_distance)"/>
        <arg name="unite_imu_method"      value="$(arg d435_imu_unite)"/>
        <arg name="accel_fps"             value="$(arg accel_fps_d435)"/>
        <arg name="gyro_fps"              value="$(arg gyro_fps_d435)"/>
      </include>
    </group>

    <group ns="$(arg camera_r)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="device_type"           value="$(arg device_type_camera_r)"/>
        <arg name="serial_no"             value="$(arg serial_no_camera_r)"/>
        <arg name="tf_prefix"		          value="$(arg tf_prefix_camera_r)"/>
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <arg name="align_depth"           value="false"/>
        <arg name="filters"               value="pointcloud"/>
        <arg name="color_width"           value="$(arg color_width_side)"/>
        <arg name="color_height"          value="$(arg color_height_side)"/>
        <arg name="color_fps"             value="$(arg color_fps_side)"/>
        <arg name="enable_color"          value="$(arg enable_color_side)"/>
        <arg name="enable_infra1"         value="$(arg enable_infra1_side)"/>
        <arg name="enable_infra2"         value="$(arg enable_infra2_side)"/>
        <arg name="depth_width"           value="$(arg depth_width_side)"/>
        <arg name="depth_height"          value="$(arg depth_height_side)"/>
        <arg name="depth_fps"             value="$(arg depth_fps_side)"/>
        <arg name="clip_distance"         value="$(arg clip_distance)"/>
        <arg name="unite_imu_method"      value="$(arg d435_imu_unite)"/>
        <arg name="enable_accel"          value="$(arg enable_accel_side)"/>
        <arg name="enable_gyro"           value="$(arg enable_gyro_side)"/>
        <arg name="accel_fps"             value="$(arg accel_fps_d435)"/>
        <arg name="gyro_fps"              value="$(arg gyro_fps_d435)"/>
      </include>
    </group>

    <group ns="$(arg camera_l)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="device_type"           value="$(arg device_type_camera_l)"/>
        <arg name="serial_no"             value="$(arg serial_no_camera_l)"/>
        <arg name="tf_prefix"		          value="$(arg tf_prefix_camera_l)"/>
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <arg name="align_depth"           value="false"/>
        <arg name="filters"               value="pointcloud"/>
        <arg name="color_width"           value="$(arg color_width_side)"/>
        <arg name="color_height"          value="$(arg color_height_side)"/>
        <arg name="color_fps"             value="$(arg color_fps_side)"/>
        <arg name="enable_color"          value="$(arg enable_color_side)"/>
        <arg name="enable_infra1"         value="$(arg enable_infra1_side)"/>
        <arg name="enable_infra2"         value="$(arg enable_infra2_side)"/>
        <arg name="depth_width"           value="$(arg depth_width_side)"/>
        <arg name="depth_height"          value="$(arg depth_height_side)"/>
        <arg name="depth_fps"             value="$(arg depth_fps_side)"/>
        <arg name="clip_distance"         value="$(arg clip_distance)"/>
        <arg name="unite_imu_method"      value="$(arg d435_imu_unite)"/>
        <arg name="enable_accel"          value="$(arg enable_accel_side)"/>
        <arg name="enable_gyro"           value="$(arg enable_gyro_side)"/>
        <arg name="accel_fps"             value="$(arg accel_fps_d435)"/>
        <arg name="gyro_fps"              value="$(arg gyro_fps_d435)"/>
      </include>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0 /$(arg tf_prefix_camera1)_link /$(arg tf_prefix_camera2)_link 100"/>
  </group>

</launch>

