<?xml version="1.0"?>
<launch>
    <arg name="thermal_video_device" default=""/>
    <arg name="drone_namespace"      default=""/>
    <node name="thermal_cam_node" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device"    value="$(arg video_device)"/>
        <param name="image_width"     value="160"/>
        <param name="image_height"    value="120"/>
        <param name="pixel_format"    value="uyvy"/>
        <param name="camera_frame_id" value="$(arg drone_namespace)/thermal_cam"/>
    </node>
</launch>